.poll {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 47, 81);
    color:aliceblue;
    padding: 5%;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 1vw;
    width: fit-content;
    margin: 3%;
    width: 20vw;
    padding: 7%;
    text-align: start;
}

.err_poll {
    color: red;
    text-align: center;
}